<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tourism Places</title>
</head>
<body>
  <img class="img" src="https://images.unsplash.com/photo-1606864034826-111e5945de8d"  >
  
  <div><h1 class="heading">Your tour to India Rooms </h1>
  <p class="text">There are fabulous <span class="text1">places and monuments</span> to explore here</p>
  <button class="btn">Book Now</button>
  </div>
  
  <div>
  <ul>Go through the below places to explore</ul>
  <li>chennai</li>
  <li>Agra</li>
  <li>Mumbai</li>
  <li>Bnaglore</li>
  </div>

  <div>
  <h2>Any Questions? FAQ</h2>
  <form>
    <input class="input"> <button class="btn1">submit</button>
  </form>
  <p>if not solves please click <a href="#">here</a></p>
  </div>
</body>
</html>